<ion-content class="centrar">
  <img src="../../../assets/images/fondo.png" alt="">

  <ion-input type="text" placeholder="Introduzca su nombre de usuario">
    <ion-icon name="person-outline"></ion-icon>
  </ion-input>
  <ion-input type="text" placeholder="Introduzca su contraseña">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-input>
  <ion-button color="dark" class="iniciarSecion" type="submit">
    Iniciar seción
  </ion-button>
  <ion-button color="dark" routerLink="/recovery" class="iniciarSecion" Fill="clear" type="submit">
    ¿Olvido su contraseña?
  </ion-button>
  <ion-button color="dark" class="registrar" fill="clear" routerLink="/signup" type="submit">
    ¿No tienes cuenta de usaurio? Crea una...
  </ion-button>

</ion-content>