<ion-content class="centrar">
  <ion-icon routerLink="/ajustes" size="large" class="back" name="arrow-back-outline"></ion-icon>
  <img src="../../../assets/images/fondo.png" alt="">

  <ion-input type="text" placeholder="Introduzca su nombre de usuario">
    <ion-icon name="person-outline"></ion-icon>
  </ion-input>
  <ion-input type="text" placeholder="Introduzca su correo electronico">
    <ion-icon name="mail-outline"></ion-icon>
  </ion-input>
  <ion-input type="text" placeholder="Introduzca su contraseña">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-input>
  <ion-input type="text" placeholder="Repita su contraseña">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-input>
  <ion-button color="dark" class="iniciarSecion" type="submit">
    Registarse
  </ion-button>
  <ion-button color="dark" routerLink="/ajustes" class="iniciarSecion" Fill="clear" type="submit">
    ¿Ya tienes una cuenta? Acceder...
  </ion-button>


</ion-content>