<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="dark" text="Back"></ion-back-button>
      <ion-title>Detalles del Producto</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-slides class="ion-padding" pager>
            <ion-slide *ngFor="let i of product?.images">
              <!-- <img style="max-width: 120px; max-height: 120px;" src="{{ i.images }}" alt="i.name"> -->
              <ion-img [src]="i?.src" alt="{{ product?.name }}"></ion-img>
            </ion-slide>
          </ion-slides>
          <ion-card-header>
            <ion-card-title>
              <!-- <h2>nombre del producto</h2> -->
              <h2>{{ product.name }}</h2>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-chip *ngFor="let c of product?.categories" color="secondary">
                {{ c?.name }}
              </ion-chip>              
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p>{{ product?.description }}</p>
              <div *ngIf="product.price != '0'; then thenBlock"></div>
              <ng-template #thenBlock>
                <ion-text>
                  <p>Precio: {{ product?.price | currency:'MXN' }}</p>
                </ion-text>
              </ng-template>
              <div *ngIf="product.stock_quantity > 0; then thenBlock2"></div>
              <ng-template #thenBlock2>
                <ion-text>
                  <p> Disponibles: {{ product?.stock_quantity }} </p>
                </ion-text>
              </ng-template>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar style="padding: 0 10px;">
    <ion-label>
      <ion-button color="dark" expand="full" fill="solid" (click)="addProduct(product)">
        Añadir al carrito
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer>
<!-- fotos de el producto -->
<!-- <ion-slides class="ion-padding" pager>
    <ion-slide *ngFor="let i of product?.images">
      <ion-img [src]="i?.src" alt="{{ product?.name }}"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-item-divider></ion-item-divider>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-card >
          <ion-card-header>
            <ion-card-title>
              <h2>{{ product.name }}</h2>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-chip *ngFor="let c of product" color="secondary">
                {{ c?.name }}
              </ion-chip>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p>{{ product?.description.substr(0, 100) }}</p>
              <ion-text>
                <p>Precio {{ product.price | currency: "MXN" }}</p>
              </ion-text>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
<!-- Boton para añadir el producto al carrito -->
<!-- <ion-footer>
  <ion-toolbar style="padding: 0 10px;">
    <ion-label>
      <ion-button color="primary" expand="full" fill="solid" (click)="addProduct(product)">
        Añadir al carrito
      </ion-button>
    </ion-label>
  </ion-toolbar>
</ion-footer> -->